@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .btn {
        @apply inline-block uppercase tracking-wider font-semibold 
        text-sm sm:text-base px-5 py-3 focus:outline-none focus:ring
        focus:ring-offset-2 rounded-lg;
    }
    .btn-primary { 
        @apply text-white bg-brand hover:bg-brand-light
         focus:ring-indigo-500 focus:ring-opacity-50
           active:bg-brand-dark;
    }
    .btn-secondary { 
        @apply   text-gray-800  bg-gray-300 hover:bg-gray-200 
         focus:ring-gray-300 focus:ring-opacity-50 
          active:bg-gray-400;
    }
}

